In [ ]:
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
dict1['april_batch']['student']['name']

'Mike'

In [3]:
dict1

{'april_batch': {'student': {'marks': {'maths': 70, 'python': 80},
   'name': 'Mike'}}}

In [5]:
dict1['april_batch']['student']['marks']['python']

80

In [6]:
dict1

{'april_batch': {'student': {'marks': {'maths': 70, 'python': 80},
   'name': 'Mike'}}}

In [8]:
dict1['april_batch']['student']['marks']['ML']=80

In [10]:
dict1['april_batch']['student']['marks']['DL']=80

In [11]:
dict1

{'april_batch': {'student': {'marks': {'DL': 80,
    'ML': 80,
    'maths': 70,
    'python': 80},
   'name': 'Mike'}}}